numpy
matplotlib
opencv-python
torch
torchvision
Pillow
tqdm
open3d
scipy
pandas
transformers<5
git+https://github.com/openai/CLIP.git
loguru
omegaconf
hydra-core
natsort
einops
pyviz3d
imageio
scipy
tabulate
smplkit
tensorflow[and-cuda]
accelerate